#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

p{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 200px;

}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-modal {
  
  ion-content {
    margin-top: 90px;
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
  }
}

form{

  margin-top: 300px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;

}
#boton-hola{
  margin-top: 250px;
  text-align: center;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  align-items: center;

  margin-left: 600px;
  margin-right: 600px;
  border-radius: 80px;
  border: 2px solid rgb(0, 0, 0);
  --border-radius: 30px; /* does nothing */
  border-radius: 30px;

}



.modal-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Fondo oscuro para que el spinner y el texto sean visibles */
  color: rgb(0, 0, 0);
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* Author : Jesus Gonzalez Leal IDGS08 */
.loading-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0); /* Texto en blanco */
}
#imagen-carga{
  margin-top: 50px;
  text-align: center;
  align-items: center;
}

#spinner{
  margin-top: 150px;

  text-align: center;

  font-family: 'Courier New', Courier, monospace;
}


#modal-inicio{

  border-radius: 30px;
  text-align: center;

  font-family: 'Courier New', Courier, monospace;

}

.progress-value ion-progress-bar {
  height: 20px;
}

.progress-value span {
  margin-top: -20px;
  position: relative;
  z-index: 100;
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}