
<ion-content [fullscreen]="true">
  
  <form (ngSubmit)="entrar_inicio()" #loginForm="ngForm">

    <ion-label class="correo_texto">Username</ion-label>
    <ion-item class="input-item">
      <ion-input type="email" placeholder="Antonio_lopez" (ionInput)="validarCampos()" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
  
    <ion-text color="danger" *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched">
     Correo electrónico inválido.
    </ion-text>
    <br>
    <br>
    <ion-label class="contra_texto">Contraseña</ion-label>
    <ion-item class="input-item">
      <ion-input type="password" placeholder="••••••••" (ionInput)="validarCampos()" [(ngModel)]="password" name="password" required></ion-input>

    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched">
      Contraseña incorrecta
    </ion-text> 
    <ion-button expand="block" type="submit" [disabled]="!isValid">Ingresar</ion-button>
    <a [routerLink]="['/registro']">Registra nuevo usuario</a>


  </form>
  


<!--Author: Jesus Gonzalez Leal IDGS08 -->
<ion-modal id="modal-inicio" [isOpen]="isModalOpen" backdropDismiss="false" animated="false">
  <ng-template>

    <ion-content class="ion-padding">
      <div class="loading-container">

        <p class="loading-text">Bienvenido!!</p>

        <img id="imagen-carga" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwWnoXx0UXT2hzTtl8_kl0RfjqvP8CpErCIg&s" alt="Cargando..." class="loading-image" />
        <ion-spinner id="spinner" name="crescent"></ion-spinner>
        <p class="loading-text">Cargando...</p>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-loading [isOpen]="isloading" message="Iniciando sesión..." spinner="bubbles" duration="5000"></ion-loading>




</ion-content>
